<html>
<head>
  <title>Quoting Dojo</title>
</head>
<body>
  <div id="container">
    <h1>Please Edit you Quote</h1>
    <a href="/">Show all Quotes</a> | <a href="/quotes">Add a new Quote</a>
    <form action="/quotes/update/<%= quote['id'] %>" method="post">
      <label>Name:</label>
      <input type="text" name="name" value="<%= quote['name'] %>">
      <label>Quote:</label>
      <textarea name="quote"><%= quote['quote'] %></textarea>
      <button type="submit">Update Quote</button>
    </form>
  </div>
</body>
</html>