<html>
<head>
  <title>Chatroom</title>
  <script type="text/javascript" src="jquery-1.12.4.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <h1>Welcome to the chatroom</h1>
  <textarea class="chat"></textarea>
  <button>Send chat</button>
  <div id="chatroom_space">
    <div id="users"></div>
    <div id="chatroom"></div>
  </div>
</body>
</html>